<mat-toolbar color="primary">
  <button mat-icon-button (click)="nav.toggle()" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LeoTurnier</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="icon-button with login icon" (click)="loginBtnClick()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" closed #nav >
    <mat-nav-list>
      <mat-list-item (click)="onMenuSelected('players')">
        Spieler
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item (click)="onMenuSelected('team')">
        Teams
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item (click)="onMenuSelected('tournament-overview')">
        Turniere
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <p><router-outlet></router-outlet></p>
  </mat-sidenav-content>
</mat-sidenav-container>
