<form class="center" [formGroup]="submitionForm" (ngSubmit)="onSubmit()">
  <div style="width: 100%; display: flex; flex-direction: row; justify-content: center; margin-top: 25%">
    <div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-right: 50px">
          <mat-label style="font-size: xx-large">{{match.competitor1.name}}</mat-label>
          <input matInput type="number" min="0" max="999" formControlName="score1">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <p style="font-size: 100px; margin-top: 180px">:</p>
      </div>
    </div>
    <div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 50px">
          <mat-label style="font-size: xx-large">{{match.competitor2.name}}</mat-label>
          <input matInput type="number" min="0" max="999" formControlName="score2">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <button mat-raised-button name="Submit" color="primary" style="margin-right: 15px">Submit Score</button>
    <button mat-raised-button name="Finish" color="accent">Finish Match</button>
  </div>
</form>
