<p>tournament-table works!</p>
{{tournament.name + ':'}}
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="competitor">
    <th mat-header-cell *matHeaderCellDef> Competitor </th>
    <td mat-cell *matCellDef="let element"> {{element.competitor.name}} </td>
  </ng-container>
  <ng-container matColumnDef="placement">
    <th mat-header-cell *matHeaderCellDef> Placement </th>
    <td mat-cell *matCellDef="let element"> {{element.placement}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
